/* Avatar Specific Styles */
.avatar-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-wrapper {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-head-wrapper {
    margin-bottom: 5px;
}

.avatar-torso-arms-wrapper,
.avatar-legs-wrapper {
    display: flex;
    gap: 3px;
    margin-bottom: 5px;
}

.avatar-body-part {
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Prevent shrinking */
    padding: 0px;
}

#head {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 36px;
    height: 36px;
    padding: 5px;
    background-color: var(--primary-color, #3498db);
}

#head img {
    border-radius: 10px;
    object-fit: contain;
    width: 100%; /* Ensure image fills the button */
    height: 100%; /* Ensure image fills the button */
}

#left_arm,
#right_arm {
    width: 28px;
    height: 64px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#torso {
    width: 64px;
    height: 64px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#left_leg,
#right_leg {
    width: 28px;
    height: 64px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Item Card Specific Styles */
.item-badges {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
}

.card-item img {
    width: 100%;
    height: auto;
    display: block;
}
